-if @friend_feed.any?
  %p
    %em= "#{@friend["name"]}:"
  %table
    -comment_counts(@friend_feed).each do |(uid,data)|
      %tr
        %td.first= data[:count]
        %td= data[:name]
-else
  %em= "No comments found for #{@friend["name"]}."