-if @friend_feed.any? && @friend_feed.comment_counts.any?
  %p
    %span.selected= "#{@friend["name"]}:"
  %table
    -@friend_feed.comment_counts.each do |(uid,data)|
      %tr
        %td.first= data[:count]
        %td= data[:name]
-else
  %span= "No comments found for <div class='selected'>#{@friend["name"]}</div>.".html_safe