!!! 5
%html
  %head
    %title Wildfire Programming Challenge
    = stylesheet_link_tag 'application', 'blueprint/screen.css'
    = stylesheet_link_tag 'blueprint/print.css', :media => "print"
    = javascript_include_tag 'jquery', 'application'
    = csrf_meta_tag
    
    <!--[if lt IE 8]>
    = stylesheet_link_tag 'blueprint/ie.css', :media => "screen, projection"
    <![endif]-->
  
  %body
    %div.container
      #header.span-24.box
        %h1 WildFire Programming Challenge
        = facebook_login_button('large')
      #fb-root= yield.downcase

:javascript
  window.fbAsyncInit = function() {
    FB.init({appId: #{FACEBOOK_APP_ID}, status: true, cookie: true, xfbml: true});
  };
  (function() {
    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());